@charset "UTF-8";

*{
margin: 0;
padding: 0;
}

body{
background-color:MintCream;
margin: 70px 0 0 0;
}

header{
background-color:LightSeaGreen;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index:-1;
}

#enmusubi_picture{
width: 24px;
  position: absolute;
  left: 80px;
  top: 80px;
}

#main{
  background-color:DarkTurquoise;
  width: calc(100% - 200px);
    min-width: 500px;
    float: left;
}

.box{
  background-color:PaleTurquoise;
  color:White;
  width: 240px;
  height:80px;
  margin:5px;
  float: left;
  overflow: hidden;
}

aside{
background-color:MediumAquamarine;
  width: 200px;
  float: right;
  position: relative;
  top: 20px;
  right: 10px;
}

footer{
background-color:MediumSpringGreen;
  clear: both;
}
